{% extends 'base.html' %}

{% block content %}
    <div class="row justify-content-start">
        <div class="col md-6">
            <h1>Prediction Form</h1>
            <h5 class="text-muted">Batting Team - {{ team1 }}</h5>
            <h5 class="text-muted">Bowling Team - {{ team2 }}</h5>
            <h5 class="text-muted">Season - {{ season }}</h5>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.batsman.label(class="form-control-label") }}
                    {{ form.batsman(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.batsman_ns.label(class="form-control-label") }}
                    {{ form.batsman_ns(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.bowler.label(class="form-control-label") }}
                    {{ form.bowler(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.over.label(class="form-control-label") }}
                    {{ form.over(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.ball.label(class="form-control-label") }}
                    {{ form.ball(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.inning.label(class="form-control-label") }}
                    {{ form.inning(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.submit(class='btn btn-primary') }}
                </div>
            <form>
        </div>
    </div>
    {% if predictions %}
<hr>
    <div class="row">
        <h1>Predictions</h1>
</div>

<div>
<h2>
	{% if predictions.out['yes'] %}
		Out
	{% else %} 
		Not Out
	{% endif %}
</h2>
<h6 class="text-muted">
	Accuracy - {{predictions.out['chance']}}
</h6>
</div>
<hr>

<div>
<hr>
predictions_raw
{{predictions}}
out {{predictions.out['yes']}}, not out{{predictions.out['no']}}
</div>

    {% endif %}
{% endblock %}

